<?php if (!empty($model->file)) : ?>
	<a href="<?= env('APP_FRONTEND_URL') . 'file/file/' . $model->id ?>" target="_blank">
		Перейти к плакату оригинала
	</a>
<?php endif; ?>

<?php if (!empty($model->file_inline)) : ?>
	| 
	<a href="<?= env('APP_FRONTEND_URL') . 'file/file_inline/' . $model->id ?>" target="_blank">
		Перейти к плакату превью
	</a>
<?php endif; ?>

<?php if (!empty($model->file_preview)) : ?>
	| 
	<a href="<?= env('APP_FRONTEND_URL') . 'file/file_preview/' . $model->id ?>" target="_blank">
		Перейти к превью превью
	</a>
<?php endif; ?>
